.checked {
    color : orange;
}

@media screen and  (max-width:765px){
	
	.right-menu-2 {
		display:none !important;
	
	}
}

@media screen and (min-width:765px){
	
	.right-menu-1 {
		display:none !important;
	
	}
}