.checked {
    color : orange;
}

@media (max-width:765px){
	
	.right-menu-2 {
		display:none !important;
	
	}
	
		.right-menu-1 {
		display:flex !important;
	
	}
}

@media (min-width:765px){
	
	.right-menu-1 {
		display:none !important;
	
	}
	
		.right-menu-2 {
		display:flex !important;
	
	}
}